{% extends 'base.html.twig' %}

{% block title %}Accueil - TIGO restaurant{% endblock %}

{% block content %}

    <section class="menu-carousel">
        <div id="carouselMenu" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item carousel-item1 active">
                    <img src="{{ asset ('assets/img/Menu Kebab.png') }}" class="d-block w-100" alt="Menu kebab">
                </div>
                <div class="carousel-item carousel-item1">
                    <img src="{{ asset ('assets/img/Menu Assiette.png') }}" class="d-block w-100" alt="Menu assiette">
                </div>
                <div class="carousel-item carousel-item1">
                    <img src="{{ asset ('assets/img/Menu Burger.png') }}" class="d-block w-100" alt="Menu burger">
                </div>
            </div>
        </div>
    </section>

    <section class="history-reviews">

        <section class="history">
            <h4 class="text-center mb-3 history-title"><span>TIGO</span> en quelques mots...</h4>
            <p class="history-description"><span class="history-span">"</span> Sur place ou à emporter,
                Kebab, brochettes de poulet, köfte, 
                Burgers, Cap kebab, Salades, 
                sandwich froid et bien d’autre .
                Et le Spécial Tigo à découvrir...<span>"</span> 
            </p>
        </section>
            
        <section class="reviews">
            <h3 class="card-title"><span>T</span>émoignages</h3>
            <div id="carouselReviews" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset ('assets/img/avis1.png') }}" class="d-block w-100" alt="avis 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('assets/img/avis1.png') }}" class="d-block w-100" alt="avis 2">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('assets/img/avis1.png') }}" class="d-block w-100" alt="avis 3">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset ('assets/img/avis4.png') }}" class="d-block w-100" alt="avis 4">
                    </div>
                </div>
            </div>
        </section>
    
    </section>
    

    <section class="schedule">
        <h5 class="card-title"><span>N</span>os horaires</h5>
        <table class="table table-schedule">
            <tbody>
              <tr>
                <th><span>L</span>undi</th>
                <td><span>Fermé</span></td>
                <td></td>
              </tr>
              <tr>
                <th><span>M</span>ardi</th>
                <td>11:30 - 14:00</td>
                <td>18:00 - 22:00</td>
              </tr>
              <tr>
                <th><span>M</span>ercredi</th>
                <td>11:30 - 14:00</td>
                <td>18:00 - 22:00</td
              </tr>
              <tr>
                <th><span>J</span>eudi</th>
                <td>11:30 - 14:00</td>
                <td>18:00 - 22:00</td
              </tr>
              <tr>
                <th><span>V</span>endredi</th>
                <td>11:30 - 14:00</td>
                <td>18:00 - 22:30</td
              </tr>
              <tr>
                <th><span>S</span>amedi</th>
                <td>11:30 - 14:00</td>
                <td>18:00 - 22:30</td
              </tr>
              <tr>
                <th><span>D</span>imanche</th>
                <td></td>
                <td>18:00 - 22:00</td>
              </tr>
            </tbody>
        </table>       
    </section>

    <section class="home-contact">
        <p class="phone-number">☎️<span>0</span>3 21 72 23 49</p>   
    </section>

    <section class="social">
        <h3 class="social-title"><span>R</span>ejoignez nous sur facebook !</h3>
        <a href="https://www.facebook.com/Tigo-Wingles-776717799165064/?ref=page_internal">
            <img src="{{ asset ('assets/img/facebook.png') }}" alt="facebook" class="logo-facebook">
        </a>
    </section>
    
{% endblock %}
