{% extends 'base.html.twig' %}

{% block title %}Kebab - TIGO restaurant{% endblock %}

{% block content %}

    <h1 class="card-home-title text-center">Nos<span> Kebab</span></h1>
    <div class="row" product-container>
        {% for product in products %}
            {% if product.category == 'kebab'%}
                <div class="col-md-4">
                    <div class="product-item text-center">
                        <h4 class="product-name">{{ product.name }}</h4>
                        <p class="product-description">{{ product.description}}</p>
                        <div class="price">
                            <p class="product-price"><span class="span-product">Seul : </span>{{ (product.price / 100)|number_format(2,',','.') }} €</p>  
                            <p class="product-price"><span class="span-product">Menu 33cl NA : </span>{{ (product.price / 100 + 2.50)|number_format(2,',','.') }} €</p>
                            <p class="product-price"><span class="span-product">Menu Bière 25cl : </span>{{ (product.price / 100 + 3.50)|number_format(2,',','.') }} €</p>
                        </div>
                    </div>
                </div>
            {% endif %}    
        {% endfor %}
    </div>

    <a href="{{ path('card') }}">
        <h2 class="card-title"><span>R</span>etour au menu</h2>
    </a>

{% endblock %}
